<!DOCTYPE html>
<html>
<head>
    <title>Add Secondary Holder to Account</title>
</head>
<body>
<h1>Add Secondary Holder to Account</h1>
<form method="get" action="/addSecondaryHolder">
    <label for="accountNumber">Account Number:</label>
    <input type="number" id="accountNumber" name="accountNumber"><br><br>
    <label for="secondaryHolderNif">Secondary Holder NIF:</label>
    <input type="number" id="secondaryHolderNif" name="secondaryHolderNif"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>